[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
cwltest = "==1.0.20190228134645"

[packages]
cwltool = "==1.0.20190228155703"

[requires]
python_version = "3.6"
